<header>
    <div class="collapse bg-dark" id="navbarHeader">
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container d-flex justify-content-between">
        <h2 style="color: white; font-size: large;">Hello</h2>
      </div>
    </div>
  </header>  
<div
    fxLayout="row"
    fxLayoutAlign="center none"
    fxLayout.xs="column"
    fxLayoutAlign.xs=" center">
    <div fxFlex="50" style="padding:50px;">
        <app-login></app-login>
    </div>
    <div fxFlex="50" style="padding: 50px;">
        <app-register></app-register>
    </div>
</div>